body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f4;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #eee;
  margin: 5px 0;
  padding: 10px;
  border-radius: 3px;
}

form {
  margin-top: 20px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #5cb85c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}
